body {
    background-color: #F5F7FA;
    font-family: 'Montserrat', 'Arial' ;
    
  }
  
.primero {
  background-color: #ffffff;
}
.contenedor-principal{ 
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 1000px;
  margin: 40px auto;
}
.informacion-general {
  
  display: flex;
  flex-direction: row-reverse;
}
.informacion-lateral {
  background-color: #1E2939;
  padding-top: 40px;

}
li {
  line-height: 24px;

}
.texto-naranja {
  font-family: 'Montserrat', 'Arial';
  color: #FB6D3A;
  font-weight: bold;
}
.descripcion-profesion {
  font-size: 14px;
  font-weight: 700;
}
.descripcion {
  margin-bottom: 40px;
  padding: 88px;
}
.contacto, .titulo-lateral {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #F5F7FA;
  margin-top: 50px;
}
.contacto, .skills-tecnicas, .skills-blandas{
  color: #F5F7FA;
  margin-left: 40px;
}
.C, .E {
  color: #F5F7FA;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.contacto-info{
  color: #ffffff8d;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.lista-lateral{
  padding: 0px;
  padding-left: 17px;
}
.lista-lateral > li {
  color: #FB6D3A;
}
.elementos-lista-lateral {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

