body {
    background-color: #F5F7FA;
    font-family: 'Montserrat', 'Arial' ;
    
  }
  
.primero {
  background-color: #ffffff;
}
.contenedor-principal{ 
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 1000px;
  margin: 40px auto;
}
.informacion-general {
  
  display: flex;
  flex-direction: row-reverse;
}
.informacion-lateral {
  background-color: #1E2939;

}


li {
  line-height: 24px;

}
.uni {
  font-family: 'Montserrat', 'Arial';
  color: #FB6D3A;
  font-weight: bold;
}
.descripcion-profesion {
  font-size: 14px;
  font-weight: 700;
}
.descripcion {
  margin-bottom: 40px;
}
.contacto {
  color: #F5F7FA;
}
.E {
  color: #F5F7FA;
}
.C {
  color: #F5F7FA;
}
.skills{
  color: #F5F7FA;
}
.skills-blandas{
  color: #F5F7FA;
}
.tech{
  text-align: center;
}
.soft{
  text-align: center;
}
